<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.osfunapps.schedulesms">

    <!-- alarm wake lock -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- send sms -->
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!-- contacts -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:name="com.osfunapps.schedulesms.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.osfunapps.schedulesms.activity.view.Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    <receiver android:name="com.osfunapps.schedulesms.activity.frags.detail.presentation.instances.msg.broadcast.MsgRequestReceiver"/>

    </application>

</manifest>