<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.osfunapps.schedulesms">

    <!--internet-->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- alarm wake lock -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- send sms -->
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!-- contacts -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.osfunapps.schedulesms.App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <activity android:name="com.osfunapps.schedulesms.scheduleactivity.view.ScheduleActivity"
            android:theme="@style/splashScreenTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="com.osfunapps.schedulesms.scheduleactivity.schedulefragment.presentation.instances.broadcast.MsgRequestReceiver" />

        <!-- fabric api key -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="730efea3f8624bc1171d5f0a3cec3a16c8f865ca" />


    </application>

</manifest>